<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HTbeta2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F0602BD1C9DACF1007298D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F0602D31C9DACF1007298D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F0602DE1C9DACF1007298D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
